<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
  <Classes>
  
  <class name="TestNG.KiteHomePage"></class>
  <class name="TestNG.KiteHomePage1"></class>
  
  </Classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
